.footer-company-personal-info .about-us-text, .first-row p {
  font-size: 14px;
  line-height: 21px;
}

.first-row h1, .second-row h1 {
  font-size: 20px;
  line-height: 30px;
}

.footer-company-personal-info h1 {
  font-size: 24px;
  line-height: 36px;
}

html,
body {
  font-family: poppins, sans-serif;
  color: #9f9f9f;
}
html h1,
body h1 {
  margin: 0;
  font-size: 40px;
  line-height: 60px;
  font-weight: 800;
  color: #ffffff;
}
html h2,
body h2 {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #4d4d4d;
}
html p,
body p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

footer {
  display: flex;
  background-color: #fbb900;
  width: 1280px;
  height: 604px;
}

.footer-company-personal-info {
  height: 604px;
  width: 489px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-right: 1px solid #ffffff;
}
.footer-company-personal-info h1 {
  font-weight: 700;
}
.footer-company-personal-info .follow-us {
  width: 319px;
  height: 72px;
  padding-top: 48px;
  padding-bottom: 32px;
}
.footer-company-personal-info .about-us {
  padding-top: 56px;
  padding-bottom: 24px;
}
.footer-company-personal-info .about-us-text {
  color: #ffffff;
  width: 339px;
  height: 252px;
  font-weight: 400;
}

.main-company-info {
  width: 791px;
  height: 470px;
  border-bottom: 1px solid #ffffff;
}

.first-row {
  display: flex;
  justify-content: space-evenly;
  height: 204px;
  padding-top: 56px;
}
.first-row h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.first-row p {
  color: #ffffff;
  font-weight: 400;
}
.first-row .fr-first-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 129px;
  height: 80px;
}
.first-row .fr-second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 165px;
  height: 204px;
}
.first-row .fr-third-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 253px;
  height: 170px;
}

.second-row {
  display: flex;
  align-items: center;
  padding-top: 31px;
}
.second-row h1 {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 10px;
}
.second-row .sr-first-column {
  padding-left: 56px;
}
.second-row .sr-second-column {
  padding-left: 178px;
}

.secondary-company-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 134px;
}

.company-number {
  background-image: url(../../../../public/assets/icons/Phone.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 23px;
}

.footer-company-business-info {
  width: 791px;
  height: 604px;
}

.legal-info {
  width: 317px;
  height: 54px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}